.sitebar {
    width: 132px;
    max-width: 132px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    border-radius: 0px 24px 24px 0px;
    background: rgb(255, 255, 255);
    padding-left: 47.64px;
    padding-top: 38px;
    transition:
        width 0.3s ease,
        max-width 0.3s ease,
        padding-left 0.3s ease,
        gap 0.3s ease;

    * {
        text-decoration: none;
    }

    &.open {
        width: 302px;
        max-width: 302px;
        padding-left: 15.64px;
        gap: 20px;
    }

    .sitebar_toggle_btn {
        position: absolute;
        top: 15px;
        right: 0px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: none;
        background-color: #f4cc46;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .sitebar_pages {
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;


        &:hover {
            background: #f4cc46;
            border-radius: 360px;

            * {
                color: #fff;
            }
        }

        .sitebar_icon_bg {
            display: flex;
            align-items: center;
            padding-left: 13px;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: transparent;
            transition: background 0.3s ease, transform 0.2s;

            svg {
                width: 20px;
                height: 20px;
                color: #ccc;
                transition: all 0.3s ease;
            }
        }

        .active .sitebar_icon_bg,
        .sitebar_icon_bg:has(svg:active) {
            background: rgb(244, 204, 70);
        }

        .active .sitebar_icon_bg svg {
            color: #fff;
        }
    }

    &.open .sitebar_icon_bg {
        width: 272px;
        height: 46px;
        border-radius: 360px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: width 0.3s ease, gap 0.3s ease;
    }

    .sitebar_logo_wrap {
        color: rgb(244, 204, 70);
        font-family: $font-monserrat;
        font-size: 16px;
        font-weight: 700;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &.open .sitebar_logo_wrap {
        display: flex;
        align-items: center;
        gap: 5px;
        opacity: 1;
    }

    &.open .sitebar_pages {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &:hover {
            width: 272px;
            background: #f4cc46;
            border-radius: 360px;

            * {
                color: #fff;
            }
        }
    }


    &_position {
        position: absolute;
        bottom: 50px;
        left: 47px;

        &:hover {
            background: #f4cc46;
            border-radius: 360px;

            * {
                color: #fff;
            }
        }

    }

    &.open &_position {
        background: rgb(244, 204, 70);
        width: 272px;
        border-radius: 360px;
        position: absolute;
        bottom: 50px;
        left: 15px;

        * {
            color: #fff;
        }
    }

}